* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
    padding-bottom: 3vh;
}

.body-header{
    background-color: darkgreen;
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
}

.container {
    width: 900px;
    height: 94vh;
    margin: auto;
    background-color: lightgray;
}

i{
    padding: 10px;
}


.left{
    float: left;
    height: 100%;
    width: 35%;
    /* border: 1px solid black; */
    border-right: 0;
}

.right{
    float: left;
    height: 100%;
    width: 65%;
    /* border: 1px solid black; */
}

.header-left,.header-right, .notifiche, .footer-right,.input-container{
    height: 10%;
    /* height: 9%; */
    /* border: 1px solid black; */
}

.chat{
    height: 90%;
    /* border: 1px solid black; */
}

.right .chat{
    height: 80%;
    background-image: url(img/sfondochat.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* height: 82%; */
    /* border: 1px solid black; */
}

img{
    border-radius: 50%;
    padding: 4px;
    height: 100%;
    float: left;
}

.liste-chat{
    height: 80%;
    /* height: 83%; */
}

.riga{
    width: 100%;
    height: calc(100% / 9);
    /* height: 49.7px; */
    /* border: 1px solid black; */
}

.left .liste-chat, .left .input-container, .footer-right{
    background-color: white;
}

.icone-container,.icone-container-right{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.icone-container-right{
    width: 35.5px;
}

.icone-container-left{
    float: left;/* l ho messo perche se no mi andava a capo l'icona di dx essendo i div elementi blocco?  */
    height: 100%;
    display: flex;
    align-items: center;
    width: 31px;
}

.notifiche{
    padding: 5px;
    background-color: lightskyblue;
}

.circle{
    height: 40px;
    /* height: 37px; */
    width: 40px;
    /* width: 37px; */
    border-radius: 50%;
    background-color: white;
    padding-top: 2px;
}

.input-container input{
    height: 96%;
    width: 98%;
    padding-left: 35px;
    border: 0;
}

.footer-right input{
    width: calc(100% - 66.5px);
    height: 96%;
    border: 0;
    background-color: f6f6f6;
}

.position{
    position: absolute;
}

.riga p{
    float:right;
    padding-right: 138px;
    padding-top: 25px;
    font-size: 10px;
    color: gray;
}
.riga h1{
    position: absolute;
    padding-left: 47px;
    font-size: 15px;
}

.liste-chat .orario{
    position: absolute;
    font-size: 10px;
    color: gray;
    padding-top: 13px;
    left: 300px;
}
