* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: gray;
    padding-bottom: 3vh;
}

.body-header{
    background-color: darkgreen;
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
}

.container {
    width: 900px;
    height: 94vh;
    margin: auto;
    background-color: lightgray;
}

.left{
    float: left;
    height: 100%;
    width: 35%;
    border: 1px solid black;
    border-right: 0;
}

.right{
    float: left;
    height: 100%;
    width: 65%;
    border: 1px solid black;
}

.header-left,.header-right, .notifiche, .footer-right{
    height: 10%;
    border: 1px solid black;
}

.chat{
    height: 80%;
    border: 1px solid black;
}
